.btnHome {
  font-size: 25px;
  background: none;
  color: lightgray;
  border: 2px solid lightgray;
  border-radius: 50px;
  padding: 15px;
  cursor: pointer;
  align-items: end;
  

}
.btnDicStyle{
    align-self: center;
}
.btnHome:hover {
border: 3px white solid;
font-size: 30px;

}